<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Onliner" parallel="tests" thread-count="1">
    <test name="SearchTest">
        <parameter name="manufacturer" value="Samsung"></parameter>
        <parameter name="diagonalFrom" value="40"></parameter>
        <parameter name="diagonalTo" value="50"></parameter>
        <parameter name="priceTo" value="1000"></parameter>
        <parameter name="resolution" value="1920x1080 (Full HD)"></parameter>
        <classes>
            <class name="test.SearchTest"/>
        </classes>
    </test>
</suite>